<!-- the player is going to be here -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-1">

      <!-- this is where the playlist would show -->
      <div class="container">
        <app-playlist></app-playlist>
      </div>
    </div>
    <div class="col-md-11">
      <div class="container">
        <div class="row">
          <div class="col-md-12" id="visualize">
            <!-- virtualization of music will show here -->

          </div>

        </div>
        <div class="row">
          <!-- this is where the music buttons would show -->
          <div class="col-md-12" id="outside-container" id="player-buttons">
            <button><i class="fa fa-bars fa-3x" aria-hidden="true"></i></button>
            <div class='music-controls'id="inner-container">
              <button><i class="fa fa-step-backward fa-3x" aria-hidden="true"></i></button>
              <button (click)="playMusic()"><i class="fa fa-play fa-3x" aria-hidden="true" ></i></button>
              <button (click)="pauseMusic()"><i class="fa fa-pause fa-3x" aria-hidden="true"></i></button>
              <button><i class="fa fa-step-forward fa-3x" aria-hidden="true"></i></button>
            </div>
            <button><i class="fa fa-volume-down fa-3x" aria-hidden="true"></i></button>
            <button><i class="fa fa-volume-up fa-3x" aria-hidden="true"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
